<main >
  <section class="container">
    <article class="about row">
      <div class="about">
        <h1 class="lead">Voting App For Kenya</h1>
        <p class="description">{{outputString}}</p>
        <a class="btn btn-read" href="#about">Read More...</a>
      </div>
      <div class="land-image">
        <img src="../../assets/voterNew.png" alt="">
      </div>
    </article>
  </section>
</main>
<section id="about" appDarkmode>
  <article class="container">
    <h2 class="heading">About VoteBcC</h2>

    <div class="row">
      <p>VoteBC is a web app that allow netcitizens of Kenya to make decisions on their political leaders using e-voting technology to enhace free and fair elections organized.</p>
      <p>This web app is an inspiration by Kenya 2022 general elections, which resulted to hiking of prices of basic commodites like unga to fund <strong>Ksh 40.9 Billion</strong> election  budget.</p>
    </div>
  </article>
</section>
<footer>
  <div class="container">
    <p>Magic of Techonlogy Copyright <a href="http://njugush.netlify.app/" target="_blank">MoT</a> &copy; 2022</p>
  </div>
</footer>
