<app-static-nav></app-static-nav>
<app-dynamic-nav></app-dynamic-nav>
<div class="router-outlet">
   <div class="container">
    <app-alert></app-alert>
   </div>
  <router-outlet class="darkMode"></router-outlet>
</div>


<!-- <div
style="z-index: 1000;">
<mat-toolbar color="primary" >
  Angular Dark darkMode
  
  <mat-icon>brightness_5</mat-icon>
  <mat-slide-toggle color="secondary"[formControl]="toggleControl" class="mr-8"></mat-slide-toggle>
  <mat-icon color="accent">bedtime</mat-icon>
</mat-toolbar>
</div>
 -->